<div class="flex">
   
    
    <div class="component grid">      
        <h1>Parent component</h1>         
        <span><![CDATA[[(ngModel)]="object.inner"]]></span> 
        <input type="text" [(ngModel)]="object.inner" /> 
    </div>
    
    <div class="component">
        <child-1 [inner]="object.inner"></child-1>
    </div>
    
    <div class="component">
        <child-2 [object]="object"></child-2>
    </div>

    <div class="component">
        <child-3 [inner]="object.inner" (change)="object.inner = $event"></child-3>
    </div>
</div>