<div class="grid">
  <h1 class="sample-content">One-way databinding</h1>

  <span><![CDATA[<input type="text" [value]="oneWay" (input)="oneWay=$event.target.value" />]]> </span> 
  <input type="text" [value]="oneWay" (input)="oneWay=$event.target.value" /> 
  <span>{{ oneWay|json }}</span>

  <h1 class="sample-content">Two-way databinding</h1>

  <span><![CDATA[<input type="text" [(ngModel)]="twoWay" />]]> </span> 
  <input type="text" [(ngModel)]="twoWay" /> 
  <span>{{ twoWay }}</span>

</div>
